:root{
    font-size: 24px;
    font-weight: bold;
    font-family: monospace;
    background-color: aliceblue;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 32px;
    margin: 10px;
    font-weight: sans-serif;
    
}
.title{
font-size: 1.4rem;
}

#country_form {
    padding: 11px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.4rem;
    column-gap: 2vw;
}

#country-names-input{
    padding: 2px;
    font-size:0.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#searchBtn{
font-family: monospace;
padding: 7px 10px;
border-radius: 6px;
font-size:1rem;
}


.country-data{
    display: flex;
    flex-wrap: wrap;
   padding: 1rem 10px;
   column-gap: 2vw;
   row-gap: 6vh;
   position: relative;
 
  
}
.country-data > *{
    flex-grow: 0.4;
}
#loader{
    display: none;
}
.country-data.loading #loader{
position: absolute;
inset: 0;
display: block;


height: fit-content;
padding-block: inherit;
    
 }
 .country-data.loading *:not(#loader,#loader *){
    display: none;
 }
 .country-data.loading #loader p{
    
     color:palevioletred;
     font-size:2em;
     text-align: center;


 }

.country-data.loading #loader::after{
    content: "";
    display: block;
    margin: 10px auto;
    width: 6em;
    aspect-ratio: 1;
    background-color: red;
    outline-color: rgba(255, 0, 0, 0.611);
    outline-width: 0.4em;
    outline-style: solid;

    border-radius: 50%;

    animation: load 0.7s infinite ease-in;
    
    
}

@keyframes load {
    0%{
        scale: 1;
       
    }
    33%{
        scale: 1.05;
        
    }
    56%{
        scale :1.09;
        outline-offset: 10px;
        
    }

    66%{
        scale:1.2;
        outline-width: 0px;
    }

    80%{
        scale:1.05;
       
     
    }
    100%{
        scale: 1;
        
    }
}
.sthr_text{
    
    
    color:transparent;
    background-size: 150%;
     -webkit-text-stroke: 0.03em currentColor; 
    
    font-size: 120%;
    background-clip: text;


}


.country-flag{
    width: auto;
}
iframe:not([src]){
    display: none;
}

.country-flag img{

    width: 100%;
    max-width: 400px;
    box-shadow: 0px 11px 20px 0px #a19797;
   
}
.country-flag .desc:empty{
    display: none;
}

.country-flag .desc::before{
    content: "Description: ";
    font-weight: bolder;
    color: rgb(212, 17, 76);

}
.country-flag .desc{
display: block;
margin-top: 20px;
}

.country-coa img{
    width: 100%;
    max-width: 400px;
    max-height: 300px;
    display: block;
    margin-inline:auto;
    object-fit: contain;
}

.country-map iframe{
    width: 100%;
    max-width: 500px;
    aspect-ratio: 2/3;
    margin-top: 13px;
}
 .coords{
    font-weight: bolder;
    font-size: 110%;
    margin-block: 10px;
 }

 .country-map:has(.area:empty,.population:empty){
    display: none;
 }
 .area, .population{
    color:blue;
    font-size:125%;
 }

