*
*::before,
*::after{
    margin:0;
}

body{
    background-color: azure;
    
}

h1{
    font-size:40px;
    font-family: sans-serif;
    text-align: center;
}
.js{
    background-color: yellow;
    padding: 3px;
    padding-top: 20px;
   
    padding-left: 20px;
}
.battery_info_container{
    padding: 2em;
    display: grid;
    place-content: center;
}
.battery{
    display: flex;
    --batt-color:black;
}
.battery:has(.battery_base.charging){
    --batt-color:rgb(49, 49, 229);
}
.battery_base{
    width: 300px;
    padding: 4px;
    height: 80px;
    border:10px solid var(--batt-color);
    border-radius: 5px;
    position: relative;
    

}


.battery_base.charging::after {
    content: "⚡";
    font-size: 3em;
    position: absolute;
    left: -40px;
    bottom: -50px;
    background: var(--batt-color);
    border-radius: 1em;
border:3px solid white;
}
.battery_power{
    --low:rgb(214, 32, 32);
    --medium:rgb(220, 146, 10);
    --average:rgb(204, 225, 14);
    --high:rgb(56, 225, 56);
    background-color: rgb(173, 225, 173);
   
  
    height: 100%;
}


.battery_base.charging .battery_power{
    background-image:linear-gradient(91deg, #fffcfc, var(--high));
    background-size: 200%;
    animation: charge 1s infinite linear;
}

@keyframes charge {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
.battery_head{
width:30px;
height: 50px;
background-color: var(--batt-color);
align-self: center;
border-top-right-radius: 10px;

border-bottom-right-radius: 10px;
}

.battery_percentage{
    font-size:70px;
    font-family: monospace;
align-self: center;
margin-left:0.6em;
}

p{
    font-size:32px;
    font-family: monospace;
    margin-top: 40px;
    font-weight: bold;
}

